html, body, header,nav,main,footer{
    box-sizing: border-box;
}

html, body{
    display: flex;
}

body{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    flex: none;
    width: 100%;
}

nav{
    width: 300px;
    height: 100px;
    flex: none;
}

main{
    flex: 1;
    height: 100px;
}

footer{
    flex: none;
    width: 100%;
}

@media only screen and (max-width: 640px) {
    body{
        display: block;
    }

    nav{
        height: auto;
        width: auto;
    }
}

