body{
    font-size: 0px;
}

header,nav,main,footer{
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
}

header{
    width:100%;
}

nav{
    width: 300px;
    height: 100px;
}

main{
    width: calc(100% - 300px);
    height: 100px;
}

footer{
    width:100%;
}

@media only screen and (max-width: 640px) {
    body{
        font-size: initial;
    }

    header,nav,main,footer{
        display: block;
    }

    nav{
        height: auto;
        width: auto;
    }

    main{
        width: auto;
    }
}